* {
  margin: 0;
  padding: 0;
  font-family: GT-Light, sans-serif;
}

/* FONTS */
@font-face {
  font-family: GT-Bold;
  src: url(GT_Walsheim_Pro/Web/GT-Walsheim-Pro-Bold.woff);
}
@font-face {
  font-family: GT-Light;
  src: url(GT_Walsheim_Pro/Web/GT-Walsheim-Pro-Light.woff);
}
h1 {
  font-size: 3.5rem;
  font-family: GT-Bold;
}
h2 {
  color: #66338c;
  font-size: 2.5rem;
  font-family: GT-Bold;
}
h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem;
  color: #66338c;
  font-weight: 600;
  font-family: GT-Bold;
}
h4 {
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem;
  color: #66338c;
  font-weight: 600;
  font-family: GT-Bold;
}
h5 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0.5rem 0;
  font-family: GT-Light;
}
h6 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0.5rem 0;
  font-family: GT-Light;
}
p {
  font-family: GT-Light;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
button {
  text-transform: uppercase;
  border: none;
  padding: 1.5rem;
  background-color: #66338c;

  font-size: 1rem;
  color: white;
  font-weight: 600;
  margin-top: 2rem;
  transition: 0.2s;
  cursor: pointer;
  font-family: GT-Bold;
}

/* HEADER */
header {
  display: grid;
  grid-auto-rows: minmax(0, 1fr) minmax(0, 1fr);
  gap: 2rem;
  height: 100vh;
}
.wrapper {
  display: grid;
  grid: auto-flow 1fr / 1fr 50rem 1fr;
  background: #66338c;
  color: #fff;
}
.wrapper::after {
  content: "";
  grid-area: 1 / 2;
  background: linear-gradient(to bottom right, #66338c 50%, transparent 0);
}
.wrapper > * {
  grid-row: 1;
}
.fas .fa-play {
  font-size: 3rem;
}
.content {
  grid-column: 1 / 3;
  padding: 4rem;
  align-self: center;
  z-index: 1;
}
.content h1 {
  /* padding-right: 20rem; */
}
.content h5 {
  padding-top: 1rem;
  padding-right: 29rem;
}
.content h6 {
  padding-bottom: 0.5rem;
}
figure {
  grid-column: 2 / 4;
  min-height: 0;
}
#homeimg {
  grid-column: 2;
  grid-row: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#cta {
  color: #66338c;
  background-color: white;
  border: solid 3px white;
}
#cta:hover {
  transition: 0.2s;
  background-color: #66338c;
  border: solid 3px white;
  color: white;
}

.three-col {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10vw 14vw;
}
.banner {
  grid-column: 1 / span 3;
  padding: 0 0 4rem 2rem;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 1rem;
}
.banner h2 {
  text-align: right;
}
.banner p {
  padding-top: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0;
  align-self: start;
}
.box {
  margin: 2rem;
  justify-self: center;
  line-height: 1.5rem;
  max-width: 15vw;
}
.box img {
  width: 40%;
  margin-bottom: 1rem;
}
.small {
  font-size: 0.8rem;
  padding: 0;
  background-color: white;
  color: #66338c;
  justify-self: start;
  margin-top: 1rem;
}

.small::before {
  content: "";
  width: 40px;
  height: 3px;
  margin-right: 10px;
  margin-top: -2px;
  background-color: #66338c;
  display: inline-block;
  vertical-align: middle;
  transition: width 0.3s;
}
.small:hover::before {
  width: 50px;
  cursor: pointer;
}
/* VIDEO SECTION */

.gray {
  height: 60vh;
  width: 70vw;
  background-color: #efefef;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 12.5rem;
  padding: 2rem 8rem;
  grid-gap: 5rem;
}
.video-text {
  align-self: center;
  justify-self: center;
}
.video-text h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
iframe {
  margin: 1rem;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

/* BOX SECTION */

.four-col {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0 5vw;
  grid-gap: 5rem 1rem;
}
.box1 {
  display: grid;
  grid-column: auto;
  max-width: 20vw;
  align-self: start;
}
.box1 img {
  max-height: 20vw;
  max-width: 20vw;
  box-shadow: 0 9px 28px 0 rgba(0, 0, 0, 0.25);
}
.box1 h4 {
  padding-top: 1rem;
}

/* FOOTER */

footer {
  /* height: 100vh; */
  background: linear-gradient(355deg, #efefef 70%, transparent 30%);
  display: grid;
  padding: 0 15vw 5rem;
  /* margin-top: -10rem; */
}
.ekspert {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  grid-gap: 5rem 10vw;
  margin-top: 30rem;
}
.text h5 {
  margin: 0.5rem 0 1rem;
  color: #66338c;
  font-weight: 600;
  font-family: GT-Bold;
}
.text h4 {
  font-family: GT-Light;
}

.site {
  justify-self: start;
  align-self: start;
}
a {
  text-decoration: none;
  color: black;
}
.site h6 a {
  font-size: 1.3rem;
  font-family: GT-Bold;
}
.social-links {
  margin-top: 1rem;
}
.social-link {
  font-size: 2rem;
}
.social-link:hover {
  color: #66338c;
}
#small-logo {
  width: 20rem;
  padding: 0.3rem 0;
}
.contact {
  justify-self: start;
  align-self: center;
}
.white {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
#end {
  justify-self: end;
}

.white > * {
  font-size: 1rem;
}

.form {
  width: 15vw;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #66338c;
}
.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.form button {
  padding: 8px 0;
  margin-top: 1rem;
  background: 0;
  cursor: pointer;
  padding-right: 0;
}

.form div {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
span {
  margin: 0 5px 0 15px;
}

@media screen and (max-width: 1024px) {
  /*Fonts*/
  /* h1 {
    font-size: 7.5vw;
  } */
  h2 {
    font-size: 2rem;
  }
  .content h5 {
    /* font-size: 3vw; */
    padding-right: 0;
  }
  .wrapper {
    grid: auto-flow 1fr / 1fr 75rem 1fr;
  }
  .three-col {
    padding: 10vw 5vw;
  }
  .box {
    margin: 0.5rem;
    max-width: 20vw;
  }
  .content {
    position: absolute;
    top: 5vw;
  }
  .gray {
    height: 50vh;
    grid-template-columns: auto;
    grid-gap: 0;
    margin-bottom: 7.5rem;
  }
  iframe {
    grid-column: 1;
  }
  .video-text {
    align-self: end;
  }
  .video-text h2 {
    font-size: 2.5rem;
  }
  .box1 {
    max-width: 17vw;
  }
  .box1 img {
    height: 17vw;
    width: 17vw;
  }
  footer {
    margin-top: -10rem;
  }
  .form {
    width: 25vw;
  }
}
@media screen and (max-width: 768px) {
  .four-col {
    grid-template-columns: auto auto;
    padding: 10vw;
  }
  .four-col > * {
    justify-self: center;
    max-width: 30vw;
  }
  .box1 img {
    width: 30vw;
    height: 30vw;
  }
  footer {
    margin-top: -20rem;
  }
  .ekspert {
    grid-template-columns: auto;
    grid-gap: 3rem 0;
  }
  .ekspert > * {
    align-self: start;
    justify-self: start;
  }
  .btn {
    grid-column: 1;
    margin-top: -2rem;
  }
  .btn button {
    margin: 0;
  }
  .site {
    grid-row: 4;
  }
  .contact {
    grid-row: 3;
  }
  .form {
    width: 35vw;
  }
}

@media screen and (max-device-width: 600px) {
  .three-col {
    grid-template-columns: auto;
    padding: 10vw 5vw;
  }
  .banner {
    grid-column: 1;
    grid-template-columns: auto;
    padding-bottom: 0;
  }
  .banner h2 {
    text-align: left;
  }
  .box {
    margin: 0.5rem;
    max-width: 70vw;
  }
  .gray {
    padding: 2rem 8vw;
  }
  .four-col {
    grid-template-columns: auto;
  }
  .four-col > * {
    justify-self: center;
    max-width: 50vw;
  }
  .box1 img {
    width: 50vw;
    height: 50vw;
  }
}
