* {
  box-sizing: border-box;
  font-family: GT-Light;
}
/* FONTS */
@font-face {
  font-family: GT-Bold;
  src: url(GT_Walsheim_Pro/Web/GT-Walsheim-Pro-Bold.woff);
}
@font-face {
  font-family: GT-Light;
  src: url(GT_Walsheim_Pro/Web/GT-Walsheim-Pro-Light.woff);
}
body {
  background-color: rgb(243, 242, 242);
  padding: 0;
  margin: 0;
  background-color: #d9d9d9;
}

.logo {
  margin-left: 2%;
  margin-top: 20px;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
  z-index: 10;
}
form > * + * {
  margin-top: 1.5rem;
}

.form-group {
  display: grid;
  gap: 5px;
}
label {
  font-weight: 400;
  line-height: 1;
  align-self: center;
}
input,
select {
  -webkit-appearance: none;
  appearance: none;
  align-self: flex-end;
}
.submit-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.back {
  margin-right: 20px;
}

.valid {
  border: green 1px solid;
}
.invalid {
  border: red 1px solid;
}
#email:blur::before {
  border: none;
}
input,
select {
  color: #212121;
  border: none;
  padding: 8px 12px 6px;
  outline: none;
  width: 400px;
  background-color: rgb(243, 243, 243);
}

.solution-title {
  font-size: 3vw;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #6f2c91;
  font-family: GT-Bold;
}

.text {
  width: 43%;
  margin-left: 5%;
  z-index: 10;
}
.text p {
  margin-top: 10px;
  line-height: 1.2rem;
  /* padding-left: 10px; */
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.text .second-paragraph {
  width: 80%;
  margin-bottom: 40px;
}
main {
  display: flex;
  width: 100%;
  flex-flow: wrap;
}
main .form {
  margin-left: 7%;
  z-index: 10;
  width: 100%;
}

#triangle-up {
  position: absolute;
  top: 0px;
  right: 0;
  width: 60vw;
  height: 100vh;
  z-index: 1;
  /* filter: opacbity(0.4); */

  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url("./media/tree.jpg");
}
.btn {
  font-family: "GT Walsheim Pro Regular", sans-serif;
  background: #6f2c91;
  border: 1px solid #6f2c91;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  width: 180px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.small {
  font-size: 0.8rem;
  padding: 0;
  background-color: none;
  color: #66338c;
  justify-self: start;
  margin-top: 15px;
  cursor: pointer;
  background: none;
  border: none;
}
.small::before {
  content: "";
  width: 40px;
  height: 3px;
  margin-right: 10px;
  margin-top: -2px;
  background-color: #66338c;
  display: inline-block;
  vertical-align: middle;
  transition: width 0.3s;
}
.small:hover::before {
  width: 50px;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
}
:root {
  --dur: 0.2s;
  --timing: cubic-bezier(0.5, 0, 0.5, 1);
}

.checkmark {
  --s: 2em;
  width: var(--s);
  height: var(--s);
  cursor: pointer;
  position: relative;
}

/*.checkmark:focus-within {
  outline: 2px dashed rebeccapurple;
  outline-offset: 5px;
}*/

#check {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: -3px;
  left: -4px;
  opacity: 0;
  z-index: 1;
  width: var(--s);
  height: var(--s);
  cursor: pointer;
}

svg {
  --i: var(--checked, 0);
  --noti: (1 - var(--i));
  display: block;
  background: white;
  /* border-radius: 0.5em; */
  border: 1px solid #21212133;
  background: rgb(243, 242, 242);
  /* transition: blue var(--dur) calc(var(--dur) * 0.5 * var(--i)) var(--timing); */
  pointer-events: none;
  /* will-change: blue; */
}

path {
  stroke-dasharray: 1 1;
  stroke-dashoffset: calc(var(--noti) * 1);
  fill: none;
  stroke: #6f2c91;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dashoffset var(--dur) var(--timing);
  will-change: stroke-dashoffset;
}

input:checked ~ svg {
  --checked: 1;
}
.checklabel {
  float: left;
}
.checkgroup {
  display: flex;
  flex-direction: row;
  /* margin-left: 30px; */
  /* width: 90%; */
}

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 800px) {
  .text {
    width: 80%;
    margin-left: 10%;
    z-index: 10;
    margin: 50px 12%;
  }
  main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  main > .text > h1 {
    font-size: 10vw;
  }
}

@media screen and (max-width: 400px) {
  main > .text > h1 {
    font-size: 14vw;
  }
  .text {
    width: 100%;
    z-index: 10;
  }
  .form {
    align-self: flex-start;
    /* margin-left: 15%; */
    display: flex;
    flex-direction: column;
  }
  form {
    margin-left: 8%;
    align-self: flex-start;
  }
}

.hidden {
  display: none;
}

.fadeout {
  animation: fadeout 0.3s ease-in;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadein {
  animation: fadein 0.3s ease-in;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
